<div class="card mb-4 box-shadow">
    <a href="{{ restaurant.get_absolute_url }}"><img class="card-img-top" alt="restaurant {{ restaurant.title }}"
                                                     src="{{ restaurant.image.url }}"
                                                     style="height: 300px; width: 100%; display: block;"></a>
    <div class="card-body">
        <h5 class="card-title">{{ restaurant.title }}</h5>
        <p class="card-text"></p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><small style="font-weight: 900;">&#10061; </small>{{ restaurant.address }}</li>
        <li class="list-group-item"><small style="font-weight: 900;">&#9990; </small>+{{ restaurant.phone }}</li>
    </ul>
    <div class="card-body">
        <a href="{{ restaurant.get_absolute_url }}" class="card-link">Detail</a>
    </div>
</div>